<html>
<head>
<title>Simple Shift Plot</title>
<link href="static/hedotools.shift.css" rel="stylesheet">
</head>
<body>

<div id="header"></div>
<center>

<div id="lens01" class="figure"></div>
<br>
<!-- <p>Click on the graph and drag up to reveal additional words.</p> -->

<br>

<div id="figure01" class="figure"></div>

</center>

<div id="footer"></div>

<script src="static/d3.js" charset="utf-8"></script>
<script src="static/jquery-1.11.0.min.js" charset="utf-8"></script>
<script src="static/urllib.js" charset="utf-8"></script>
<script src="static/hedotools.init.js" charset="utf-8"></script>
<script src="static/hedotools.shifter.js" charset="utf-8"></script>
<script type="text/javascript">
    var lens = [{{ lens }}];
    var words = [{{ words }}];
    var refF = [{{ refF }}];
    var compF = [{{ compF }}];

    var my_shifter =  hedotools.shifter();
    my_shifter._refF(refF);
    my_shifter._compF(compF);
    my_shifter._lens(lens);
    my_shifter._words(words);

    // my_shifter.plotdist(true);

    // do the shifting
    my_shifter.shifter();
    my_shifter.setWidth(400);
    // my_shifter.setHeight(800);

    // don't use the default title
    // set own title
    // but leave all of the default sizes and labels
  
    // extract these:
    var compH = my_shifter._compH();
    var refH = my_shifter._refH();
    // from the code inside the shifter:
    if (compH >= refH) {
        var happysad = "happier";
    }
    else { 
        var happysad = "less happy";
	}

    // also from inside the shifter:
    // var comparisonText = splitstring(["Reference happiness: "+refH.toFixed(2),"Comparison happiness: "+compH.toFixed(2),"Why comparison is "+happysad+" than reference:"],boxwidth-10-logowidth,'14px arial');
    // our adaptation:
    var comparisonText = ["{{ title }}","","{{ ref_name_happs }} happiness: "+refH.toFixed(2),"{{ comp_name_happs }} happiness: "+compH.toFixed(2),"Why {{ comp_name }}{{ isare }}"+happysad+" than {{ ref_name }}:"];
    // set it:
    my_shifter.setText(comparisonText);
    my_shifter.setTextBold(0);
    my_shifter.setTopTextSizes([24,16,16,16,16]);
    my_shifter.setTextColors(["#D8D8D8","#D8D8D8","#D8D8D8","#D8D8D8","#D8D8D8",]);
    my_shifter.setFontSizes([16,10,22,11,8,8,13]);
    // [bigshifttextsize,xaxisfontsize,xylabelfontsize,wordfontsize,distlabeltext,creditfontsize,resetfontsize];

    my_shifter.setfigure(d3.select('#figure01'));
    my_shifter.plot();

    // remove these right away....
    d3.selectAll('g.resetbutton').remove();
    d3.selectAll('.credit').remove();
</script>

</body>
</html>
