<html>
<head>
<title>Simple Shift Plot</title>
<link href="static/css/hedotools.shift.css" rel="stylesheet">
<script src="static/js/d3.js" charset="utf-8"></script>
<script src="static/js/jquery-1.11.0.min.js" charset="utf-8"></script>
<script src="static/js/urllib.js" charset="utf-8"></script>
<script src="static/js/hedotools.init.js" charset="utf-8"></script>
<script src="static/js/hedotools.shifter.js" charset="utf-8"></script>
</head>
<body>

<div id="header"></div>

{{ inner }}

</body>
</html>
