<html>
<head>
  <title>Simple Shift Plot</title>
  <style type="text/css">
    {% include "static/hedotools.shift.css" %}
  </style>
  <script type="text/javascript">
    {% include "templates/js-includes.jinja2" %}
  </script>
</head>
<body>

  <div id="header"></div>

  {% include "templates/template.html.jinja2" %}

</body>
</html>
